<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="d-flex justify-content-end">
    <div class="navbar-brand">
      <a class="navbar-brand" href="#">
        <img src="/assets/MovieOfTheDay.jpg" width="60" height="60" class="d-inline-block align-top" alt="">
        <!-- brand logo and name -->
        Movie of the Day
      </a>
    </div>

    <div class="d-flex">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" title = "hot" routerLink = "hot">Top Movies</a> <!--router link for top movies-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Interests">Interest Survey</a> <!--router link for interest survery-->
        </li>
        <li class="nav-item active">
          <a class="nav-link" title = "auth" routerLink = "auth">Sign-up</a> <!--router link for sign-up page-->
        </li>
        <li>
          <a class="nav-link" title = "auth" routerLink = "login">Login</a> <!--router link for login page-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="User-Profile">User Profile</a> <!--router link for User Profile--> 
        </li>
      </ul>
    </div>
  </div>
</nav>