.info-text{
    color: black;
}

.url{
    text-decoration: none;
    color: black;
}

.url:hover{
    text-decoration: underline;
}

.btn-primary{
    max-width: 175px;
    background-color: blueviolet;
    border-color: black;
}