.row {
    white-space: nowrap;
}

.row > div {
    display: inline-block;
}

.info-text{
    color: black;
}

.url{
    text-decoration: none;
    color: black;
}

.url:hover{
    text-decoration: underline;
}

.btn-primary{
    max-width: 175px;
    background-color: blueviolet;
    border-color: black;
}

.btn-primary:hover{
    background-color: rgb(156, 50, 255);
}