<div class="row">

    <!-- <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)"> -->
    <!-- Genres for preference filtering-->
        <div class="col-3">

            <h6 class="Subheading">
                Genres
            </h6>
            <p class="description">
                From comedy to action to romance, we have it all!
            </p>
   
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Adventure" (change)= "genreList('Adventure')">
                <label class="form-check-label" for="flexCheckDefault">
                    Adventure
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Animation" (change)= "genreList('Animation')">
                <label class="form-check-label" for="flexCheckDefault" >
                    Animation
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Comedy" (change)= "genreList('Comedy')">
                <label class="form-check-label" for="flexCheckDefault">
                    Comedy
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Crime" (change)= "genreList('Crime')">
                <label class="form-check-label" for="flexCheckDefault">
                    Crime
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Documentary" (change)= "genreList('Documentary')">
                <label class="form-check-label" for="flexCheckDefault">
                    Documentary
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Drama" (change)= "genreList('Drama')">
                <label class="form-check-label" for="flexCheckDefault">
                    Drama
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Family" (change)= "genreList('Family')">
                <label class="form-check-label" for="flexCheckDefault">
                    Family
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Fantasy" (change)= "genreList('Fantasy')">
                <label class="form-check-label" for="flexCheckDefault">
                    Fantasy
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="History" (change)= "genreList('History')">
                <label class="form-check-label" for="flexCheckDefault">
                    History
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Horror" (change)= "genreList('Horror')">
                <label class="form-check-label" for="flexCheckDefault">
                    Horror
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Music" (change)= "genreList('Music')">
                <label class="form-check-label" for="flexCheckDefault" onChange="genreList()">
                    Music
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Mystery" (change)= "genreList('Mystery')">
                <label class="form-check-label" for="flexCheckDefault" >
                    Mystery
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Romance" (change)= "genreList('Romance')">
                <label class="form-check-label" for="flexCheckDefault" >
                    Romance
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Science Fiction" (change)= "genreList('Science Fiction')">
                <label class="form-check-label" for="flexCheckDefault" >
                    Science Fiction
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="TV movie" (change)= "genreList('TV movie')">
                <label class="form-check-label" for="flexCheckDefault" >
                    TV movie
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Thriller" (change)= "genreList('Thriller')">
                <label class="form-check-label" for="flexCheckDefault" >
                    Thriller
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="War" (change)= "genreList('War')">
                <label class="form-check-label" for="flexCheckDefault" >
                    War
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Western" (change)= "genreList('Western')">
                <label class="form-check-label" for="flexCheckDefault" >
                    Western
                </label>
            </div>
        </div>


        <div class="col-4"></div>

         <!-- Years for preference filtering-->
        <div class="col-3">
            <h6 class="Subheading">
                Year Selection
            </h6>
            <p class="description">
                Whether you want retro or CGI we got you covered!
            </p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Pre 1950
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    1951 - 1970
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    1971 - 1990
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    1991 - Present
                </label>
            </div>

            <br>
            <!-- Length for preference filtering-->
            <h6 class="Subheading">
                Movie Length
            </h6>
            <p class="description">
                Specify if you want a quick watch or a long adventure!
            </p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Less than 1:30
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    1:30 - 2:30
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Over 2:30
                </label>
            </div>

            <br>
            <!-- Ratings for preference filtering-->
            <h6 class="Subheading">
                Movie Rating
            </h6>
            <p class="description">
                Kid friendly or adults only, we can help!
            </p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    G
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    PG
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    PG-13
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    R
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Unrated
                </label>
            </div>

            <br>
        </div>
    <!-- </form> -->
</div>