<div class="row">

    <!-- <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)"> -->
    <!-- Genres for preference filtering-->
        <div class="col-3">

            <h6 class="Subheading">
                Genres
            </h6>
            <p class="description">
                From comedy to action to romance, we have it all!
            </p>
   
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="12" (change)= "genreList('12')">
                <label class="form-check-label" for="flexCheckDefault">
                    Adventure
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="16" (change)= "genreList('16')">
                <label class="form-check-label" for="flexCheckDefault" >
                    Animation
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="35" (change)= "genreList('35')">
                <label class="form-check-label" for="flexCheckDefault">
                    Comedy
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="80" (change)= "genreList('80')">
                <label class="form-check-label" for="flexCheckDefault">
                    Crime
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="99" (change)= "genreList('99')">
                <label class="form-check-label" for="flexCheckDefault">
                    Documentary
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="18" (change)= "genreList('18')">
                <label class="form-check-label" for="flexCheckDefault">
                    Drama
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="10751" (change)= "genreList('10751')">
                <label class="form-check-label" for="flexCheckDefault">
                    Family
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="14" (change)= "genreList('14')">
                <label class="form-check-label" for="flexCheckDefault">
                    Fantasy
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="36" (change)= "genreList('36')">
                <label class="form-check-label" for="flexCheckDefault">
                    History
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="27" (change)= "genreList('27')">
                <label class="form-check-label" for="flexCheckDefault">
                    Horror
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="10402" (change)= "genreList('10402')">
                <label class="form-check-label" for="flexCheckDefault" onChange="genreList()">
                    Music
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="9648" (change)= "genreList('9648')">
                <label class="form-check-label" for="flexCheckDefault" >
                    Mystery
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="10749" (change)= "genreList('10749')">
                <label class="form-check-label" for="flexCheckDefault" >
                    Romance
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="878" (change)= "genreList('878')">
                <label class="form-check-label" for="flexCheckDefault" >
                    Science Fiction
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="10770" (change)= "genreList('10770')">
                <label class="form-check-label" for="flexCheckDefault" >
                    TV movie
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="53" (change)= "genreList('53')">
                <label class="form-check-label" for="flexCheckDefault" >
                    Thriller
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="10752" (change)= "genreList('10752')">
                <label class="form-check-label" for="flexCheckDefault" >
                    War
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="37" (change)= "genreList('37')">
                <label class="form-check-label" for="flexCheckDefault" >
                    Western
                </label>
            </div>
        </div>


        <div class="col-4"></div>

         <!-- Years for preference filtering-->
        <div class="col-3">
            <h6 class="Subheading">
                Year Selection
            </h6>
            <p class="description">
                Whether you want retro or CGI we got you covered!
            </p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Pre 1950
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    1951 - 1970
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    1971 - 1990
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    1991 - Present
                </label>
            </div>

            <br>
            <!-- Length for preference filtering-->
            <h6 class="Subheading">
                Movie Length
            </h6>
            <p class="description">
                Specify if you want a quick watch or a long adventure!
            </p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Less than 1:30
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    1:30 - 2:30
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Over 2:30
                </label>
            </div>

            <br>
            <!-- Ratings for preference filtering-->
            <h6 class="Subheading">
                Movie Rating
            </h6>
            <p class="description">
                Kid friendly or adults only, we can help!
            </p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    G
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    PG
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    PG-13
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    R
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Unrated
                </label>
            </div>

            <br>
        </div>
            <button class="btn btn-primary" type="submit" (click)="onSubmit()" >
                Submit Preferred
            </button>
    <!-- </form> -->
</div>