<div class="container">
    <div class="row">
        <div class="col-2"></div>

        <div class="col-8">

            <h1 class="text-center">Interests Survey</h1>
            <p class="secondary-text text-center">Filter your movie recommendations to your personal tastes!</p>
            <br><br>

            <h4 class="text-center">Choose your preferred movie genres</h4>


            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="preferred-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Preferred Options</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="disfavored-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Disfavored Options</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="preferred-tab">
                    <button-selections>Loading</button-selections>

                    <div class="row">
                      <div class="col-3"></div>
                      <div class="col-4"></div>
                  
                      <div class="col-3">
                          <button class="btn btn-primary" type="submit">
                              Submit Preferred
                          </button>
                      </div>
                  </div>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="disfavored-tab">
                    <button-selections>Loading</button-selections>

                    <div class="row">
                      <div class="col-3"></div>
                      <div class="col-4"></div>
                  
                      <div class="col-3">
                          <button class="btn btn-primary" type="submit">
                              Submit Disfavored
                          </button>
                      </div>
                  </div>
                </div>
              </div>

        </div>

        <div class="col-2"></div>
    </div>

    
</div>