/*sets the attriutes of the entire movie card*/
.movie-card{
    width: auto;
    background-color: dark;
}

/*bolds the movies title*/ 
.movie-title{
    font-weight: bold;
}

/*sets the movie poster image to auto fit, depending on screen size*/
.movie-image{
    width:auto;
}