<div *ngFor="let movie of movieList" class="container-fluid user-information">
    <div>
        <div class="row">
            <div class="col-3">
                Title: {{movie.title}}
                <br>
                Release Date: {{movie.release_date}}
                <br>
                Movie_ID: {{movie.id}}
                <br>
                Genres:
                <span *ngFor="let genres of movie.genres">
                    {{genres.name}}
                </span>
                <br>
                <img src={{movie_poster+movie.poster_path}} alt="">
                <br>
            </div>
        </div>

    </div>

</div>
