.movie-card{
    width: auto;
    background-color: dark;
}

.movie-title{
    font-weight: bold;
}

.movie-image{
    width:auto;
}

.movie-overview{
    overflow:auto;
    text-overflow: ellipsis;
}

.col-8{
    min-width: 50%;
}